<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="LSPosed">
        
        <activity 
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <receiver
            android:name=".LSPosedWidgetProvider"
            android:exported="true"
            android:label="LSPosed">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/lsposed_widget_info" />
        </receiver>
        
    </application>
</manifest>
